.card {
    height: 600px;
    width: 300px;
    margin: 30px;
}

* {
    /* background: #F6F1EB; */
}

#portfolio-card {
    height: 500px;
}

#home-photo {
    margin-bottom: 30px;
    margin-top: 30px;
}